<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header><%- include('../partials/teacher/teacher-header'); %></header>
    <%- include('../partials/teacher/home'); %>
  </body>
</html>
